.allpadding {
  padding: 10px 10px 10px 10px;
}
.title_price {
  font-weight: 600;
}

.title_sub_price {
  font-size: 14px;
}

.icon_style {
  margin-top: 20px;
  margin-left: 20px;
  color: aliceblue;
}

.icon_style_black {
  margin-top: 20px;
  margin-left: 20px;
}

.gradient {
  background: rgb(40, 34, 74);
  background: linear-gradient(
    15deg,
    rgba(40, 38, 70, 1) 0%,
    rgba(30, 47, 141, 1) 100%
  );
}

.gradientlet {
  background: rgb(53, 138, 148);
  background: linear-gradient(
    15deg,
    rgba(53, 138, 148, 1) 0%,
    rgba(91, 180, 96, 1) 100%
  );
}

.colorbg {
  min-height: 100vb;
  background: #ececec;
  background: linear-gradient(
    158deg,
    rgb(224, 224, 224) 0%,
    rgb(233, 237, 254) 100%
  );
}
